In [ ]:
%pip install pandas numpy matplotlib

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
print("Libraries imported successfully!")

Libraries imported successfully!

In [4]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head(8)
# The head() method returns the first 5 rows if a number is not specified.

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00

Data Cleaning

In [5]:
df1.shape
# The shape property returns a tuple containing the shape of the DataFrame.
# The shape is the number of rows and columns of the DataFrame

(13320, 9)

In [ ]:
df1['area_type'].unique()
# unique() method is used to know all type of unique values in area_type column.

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [8]:
df1['area_type'].value_counts()
#.value_counts() function return a Series containing counts of unique values

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

Drop features that are not required

In [9]:
df2 = df1.drop(['area_type','society','balcony','availability'],axis='columns')
df2.shape

(13320, 5)

Data Cleaning NA Values

In [10]:
df2.isnull().sum()
#The function dataframe. isnull(). sum(). sum() returns the number of missing values in the dataset.

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [16]:
df2.shape

(13320, 5)

In [17]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [18]:
df3.shape

(13246, 5)

Add new feature(integer) for bhk (Bedrooms Hall Kitchen)

In [20]:
df3.loc[:, 'bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
print(df3['bhk'].unique())

[ 2  4  3  6  1  8  7  5 11  9 27 10 19 16 43 14 12 13 18]